/* Base Styles */

.About {
  overflow: hidden;
}

.image-container {
  margin-top: 60px;
  display: flex; /* Use flexbox to layout images in a row */
  justify-content: center; /* Center the images */
  gap: 20px; /* Space between images */
  padding: 20px;
}

.team-image {
  width: 400px; /* Set width for images */
  height: 400px; /* Maintain aspect ratio */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 30px 30px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s; /* Transition effect for hover */
}

.team-image:hover {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}

.contact-info {
  margin-top: 20px; /* Space above the contact info */
}

.contact-info h2 {
  font-size: 24px; /* Size of the heading */
  color: #333; /* Dark color for the heading */
}

.contact-info p {
  font-size: 18px; /* Size of the paragraph text */
  color: #666; /* Lighter color for the text */
}

.flippable-text {
  box-shadow: 30px 30px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 400px;
  font-size: 20px;
  color: white;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  padding-left: 10px;  /* Add left padding */
  padding-right: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; 
  text-overflow: ellipsis;
  margin: auto;
  animation: gradientAnimation 15s ease infinite; /* Add animation */
}

.flippable-text:hover {
  transform: scale(1.05); /* Slightly enlarge image on hover */
}

.map-container {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}