/* Container for the slider */

.horizontal-component {
  width: 550px; /* Adjust the width of the slider */
  padding: 10px
}


.horizontal-slider {
  margin-bottom: 30px; /* Center the slider horizontally */
  position: relative;
}

/* Style for the marks */
.horizontal-slider .MuiSlider-markLabel {
  white-space: nowrap;  /* Prevent labels from wrapping */
  font-size: 0.8rem;  /* Adjust font size */
  position: absolute; /* Position labels absolutely */
  margin-top: 10px; /* Adjust space between the slider track and labels */
}

/* Target even-numbered labels */
.horizontal-slider .MuiSlider-markLabel {
  font-size: 0.8rem;
  transform: rotate(-30deg) translateX(-20px) translateY(-20px);
}

/* Style for the slider rail */
.horizontal-slider .MuiSlider-rail {
  height: 8px; /* Adjust the height of the slider rail */
}

/* Style for the slider track */
.horizontal-slider .MuiSlider-track {
  height: 8px; /* Adjust the height of the slider track */
}
